 <div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Its A Game</h1>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li ng-repeat="task in game.tasks" class="list-group-item clearfix">
              <button class="btn btn-xs btn-success pull-right" ng-click="game.incrementCompleted(task)">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
              <span class="">
                {{task.name}} - {{task.description}}
              </span>
              <span class="badge">{{task.completed}}</span>
            </li>
        </ul>
    </div>
  </div>
</div>
