<div class="v-gutter">
  <div class="">
    <h1>My Games</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="list-group">
        <li ng-repeat="game in games" class="list-group-item clearfix">
          <a ui-sref="home.game({gameId: game._id})">
          <span class="">
            {{game.name}}
          </span>
          </a>
        </li>
      </ul>
      <button class="btn btn-success" ng-hide="showNewGamePanel" ng-click="showNewGamePanel = true">
        New Game
      </button>

      <form class="well clearfix" ng-show="showNewGamePanel" ng-submit="createNewGame(newGame)">

          <div class="form-group">
            <label>name</label>
            <input type="text" class="form-control" name="name" ng-model="newGame.name"/>
          </div>
          <div class="form-group">
            <label>description</label>
            <input type="text" class="form-control" name="description" ng-model="newGame.description"/>
          </div>
          <div class="btn-group pull-right">
            <button class="btn btn-danger" ng-click="showNewGamePanel = false">
              <span class="">cancel</span>
            </button>
              <input type="submit" class="btn btn-success" value="Create Game">
          </div>
      </form>
    </div>
  </div>
</div>
