<div class="v-gutter">
  <div class="">
    <h1>{{game.name}}</h1>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-links">
      <li ng-class="{active: (activeTab === 0)}">
        <a href="#tasks" class="h2">Tasks</a>
      </li>
      <li ng-class="{active: (activeTab === 1)}">
        <a href="#achievements" class="h2">achievements</a>
      </li>
    </ul>
    <tabs active="activeTab">
      <tab>
        <tasks bind="game.tasks" class=""></tasks>
      </tab>
      <tab>
        <achievements bind="game.achievements"></achievements>
      </tab>
    </tabs>
  </div>
</div>
