<div class="v-gutter">
  <div class="">
    <h1>{{game.name}}</h1>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <ul class="nav nav-links">
      <li ng-class="{active: (activeTab === 0)}">
        <a ng-click="activeTab = 0" class="h4 a">Tasks</a>
      </li>
      <li ng-class="{active: (activeTab === 1)}">
        <a ng-click="activeTab = 1" class="h4 a">achievements</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <tabs active="activeTab" class="">
      <tab class="">
        <tasks bind="game.tasks" class="col-md-8 col-md-offset-2"></tasks>
      </tab>
      <tab >
        <achievements bind="game.achievements" class="col-md-8 col-md-offset-2"></achievements>
      </tab>
    </tabs>
  </div>
</div>
